.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.inline {
  vertical-align: middle;
}

.center {
  width: 100%;
  min-height: 24px;
}

.spinner {
  display: block;
  animation: spin 1s linear infinite;
  transform-origin: center;
  user-select: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
