.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 999px;
  border: 1px solid transparent;

  line-height: 1;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

/* size */
.sm {
  padding: 6px 10px;
  font-size: 12px;
}

.md {
  padding: 8px 14px;
  font-size: 14px;
}

/*variant*/
.open {
  background-color: var(--color-muted, #6fbf3a);
  color: var(--color-figma4, #ffffff);
}
.closed {
  background-color: var(--color-figma6, #eaf6a3);
  color: var(--color-figma3, #9acd32);
}

.recommend {
  background-color: var(--color-figma3, #9acd32);
  color: var(--color-primary, #000);
}

.seatAvailable {
  background-color: rgba(255, 0, 0, 0.2);
  color: var(--color-danger, #ff0000);
}
.seatUnavailable {
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--color-primary, #000);
}

.hashtag {
  background-color: var(--color-figma4, #ffffff);
  color: var(--color-danger, #ff0000);
  border: 0.5px solid var(--color-danger, #ff0000);
}
