html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  max-width: none;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
}

/* 메인 화면 레이어 */
.mainMap {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: var(--z-base);
}

/* 모달 열렸을 때 바탕 흑백 처리 */
.dimmed {
  filter: grayscale(0.1);
}

.mapWrap {
  width: 100%;
  height: 100%;
}
