html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  max-width: none;
}

.title {
  margin: 24px 0;
}

.app {
  width: 100%;
  height: 100%;
}

.mapWrap {
  width: 100%;
  height: 100%;
}
