:root {
  --color-primary: #000;
  --color-primary-50: rgba(0, 0, 0, 0.5);

  /* figma 색상 */
  --color-muted: #6fbf3a; /* figma 1-100, 2번색 */
  --color-figma3: #9acd32;
  --color-figma4: #ffffff;
  --color-figma5: #4f7f1e;
  --color-figma6: #eaf6a3;
  --color-figma-reviewcomponent: rgba(235, 255, 223, 0.5);

  --color-danger: #ff0000;

  /* divider */
  --color-border: #555555;

  /* z-index tokens */
  --z-base: 0;
  --z-overlay: 1000;
  --z-modal: 1100;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
